@model Team
@{
    ViewData["Title"] = "Teams";
}

<form method="post" action='@Url.Action("Create")' enctype="multipart/form-data">
    <label>Team ID</label>
    <input type="text" name="TeamId">
    
    <label>Name</label>
    <input type="text" name="Name">
    
    <label>Image</label>
    <input type="file" name="Image">

    <button type="submit">Cadastrar</button>
</form>

<table>
    <thead>
        <th>Team ID</th>
        <th>Name</th>
        <th>Image</th>
    </thead>

    <tbody>
        @foreach (Team item in ViewBag.Team)
        {
            <tr>
                <td>@item.TeamId</td>
                <td>@item.Name</td>
                <td>
                    <img src="/img/Team/@item.Image" alt="Logo da @item.Name" width="100">
                </td>
            </tr>
        }
    </tbody>
</table>