@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-area="" asp-controller="Match" asp-action="Index">Matches</a>
    <a asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
    <a asp-area="" asp-controller="News" asp-action="Index">News</a>
    <a asp-area="" asp-controller="Player" asp-action="Index">Player</a>
    @if(ViewBag.UserName != null){
        <i>Olá, @ViewBag.UserName</i>
        <a asp-area="" asp-controller="Login" asp-action="Out">Logout</a>
    } else{
        <a asp-area="" asp-controller="Login" asp-action="In">Login</a>
    }
</div>
